@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Fredericka+the+Great&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: cadetblue;
}

.main {
    border-radius: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px ;
    overflow: auto;
    padding: 20px 2rem 20px 2rem;
    background: azure;
    
    

}

h1{
    font-family: 'Barrio', cursive;
    font-size: 5rem;
    text-align: center;
    margin-top: 100px;
}

.card {
    border-radius: 30px;
    display: grid;
    justify-items: center;
    
    grid-template-columns: repeat(0, 1fr);
    grid-gap: 2rem;   
    margin-bottom: 2rem;

    
}

h3{
    font-family: 'Barrio', cursive;
    font-size: 2rem;

}

.intro {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    color: azure;
    font-size: 1.4rem;
}

p{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.622);
    line-height: 1.7rem;
}


img {
    text-align: center;
    
    height: 240px;
    border-radius: 30px;
    filter: grayscale(100);
 }


footer {
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.92);
    
    text-align: center;
    font-size: 20px;
   
}

footer p{
    text-align: center;
    color: aliceblue;
    padding-top: 5px;
}